{
  "openapi": "3.1.0",
  "info": {
    "title": "Splox API",
    "description": "Run workflows, manage chats, receive events, and monitor execution via the Splox API",
    "version": "1.0.0",
    "contact": {
      "name": "Splox Support",
      "email": "support@splox.io",
      "url": "https://community.splox.io"
    }
  },
  "servers": [
    {
      "url": "https://app.splox.io/api/v1",
      "description": "Production API"
    }
  ],
  "paths": {
    "/workflows": {
      "get": {
        "summary": "List Workflows",
        "description": "Lists all workflows owned by the authenticated user. Supports cursor-based pagination and search.",
        "operationId": "listWorkflows",
        "tags": ["Workflows"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 20, max: 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (UUID of last item from previous page)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter by workflow name or description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflows retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workflow"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{id}": {
      "get": {
        "summary": "Get Workflow",
        "description": "Retrieves a workflow with its draft version, all nodes, and all edges.",
        "operationId": "getWorkflow",
        "tags": ["Workflows"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowFull"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      }
    },
    "/workflows/{id}/versions/latest": {
      "get": {
        "summary": "Get Latest Workflow Version",
        "description": "Retrieves the latest version of a workflow by highest version number.",
        "operationId": "getLatestWorkflowVersion",
        "tags": ["Workflows"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow version retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowVersion"
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      }
    },
    "/workflows/{id}/start-nodes": {
      "get": {
        "summary": "Get Start Nodes",
        "description": "Retrieves the start nodes for a workflow version. The `id` parameter is a workflow version ID, not a workflow ID.",
        "operationId": "getStartNodes",
        "tags": ["Workflows"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow version ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Start nodes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nodes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Node"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workflow version not found"
          }
        }
      }
    },
    "/workflows/{id}/versions": {
      "get": {
        "summary": "List Workflow Versions",
        "description": "Lists all versions of a workflow.",
        "operationId": "listWorkflowVersions",
        "tags": ["Workflows"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "versions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowVersion"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Workflow not found"
          }
        }
      }
    },
    "/workflow-requests/run": {
      "post": {
        "summary": "Run Workflow",
        "description": "Triggers a workflow execution. Creates a workflow request with the given payload, enqueues it for processing, and returns a workflow_request_id for tracking.",
        "operationId": "runWorkflow",
        "tags": ["Workflow Requests"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workflow_version_id", "chat_id", "start_node_id", "query"],
                "properties": {
                  "workflow_version_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the workflow version to execute"
                  },
                  "chat_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Chat session ID (used for context memory and SSE streaming)"
                  },
                  "start_node_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the Start node to begin execution at"
                  },
                  "query": {
                    "type": "string",
                    "description": "The user message or query text. Available as {{ start.text }} in the workflow."
                  },
                  "files": {
                    "type": "array",
                    "description": "Optional file attachments. Available as {{ start.files }} in the workflow.",
                    "items": {
                      "$ref": "#/components/schemas/WorkflowRequestFile"
                    }
                  },
                  "additional_params": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional extra parameters merged into the payload"
                  }
                }
              },
              "example": {
                "workflow_version_id": "0199e001-a23b-7c8d-1234-567890abcdef",
                "chat_id": "0199f200-a11b-7c8d-4444-888890abcdef",
                "start_node_id": "0199e002-b34c-8d9e-2345-678901bcdef0",
                "query": "Summarize the latest sales report",
                "files": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow execution started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflow_request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the created workflow request. Use this to listen for results, get the execution tree, or check status."
                    }
                  }
                },
                "example": {
                  "workflow_request_id": "0199f123-d60e-7ffd-9131-4cc5ab040ee8"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid input or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (max 20 per minute per user)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mcp-tools/execute": {
      "post": {
        "summary": "Execute MCP Tool",
        "description": "Executes a tool directly on an MCP server configured by the authenticated user.",
        "operationId": "executeMCPTool",
        "tags": ["MCP"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mcp_server_id", "tool_slug"],
                "properties": {
                  "mcp_server_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID of the user MCP server to execute against"
                  },
                  "tool_slug": {
                    "type": "string",
                    "description": "Tool name/slug to execute"
                  },
                  "args": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Tool input arguments"
                  }
                }
              },
              "example": {
                "mcp_server_id": "0199e001-a23b-7c8d-1234-567890abcdef",
                "tool_slug": "search_documents",
                "args": {
                  "query": "latest release notes"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "Raw MCP CallTool result payload",
                      "properties": {
                        "content": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        },
                        "structuredContent": {
                          "description": "Optional structured output from MCP tool",
                          "nullable": true
                        },
                        "isError": {
                          "type": "boolean"
                        }
                      },
                      "additionalProperties": true
                    },
                    "is_error": {
                      "type": "boolean",
                      "description": "Convenience flag mirroring result.isError"
                    }
                  }
                },
                "example": {
                  "result": {
                    "content": [
                      {
                        "type": "text",
                        "text": "Found 3 matching documents"
                      }
                    ],
                    "isError": false
                  },
                  "is_error": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "MCP server not found"
          },
          "429": {
            "description": "Rate limit exceeded (max 30 per minute per user)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{webhook_id}": {
      "post": {
        "summary": "Send Event via Webhook",
        "description": "Receives an event from an external service via the Event Hub. The event is stored and routed to subscribed agents. Supports verification challenges for Slack and Facebook/Instagram.",
        "operationId": "sendEvent",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "Event webhook ID (UUID format)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Any JSON payload from the external service. Stored as-is and routed to subscribed agents.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event received and stored successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Whether the event was stored successfully"
                    },
                    "event_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the stored event"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "event_id": "0199f456-a12b-3c4d-5e6f-789012abcdef"
                }
              }
            }
          },
          "401": {
            "description": "Invalid webhook secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Webhook is disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found"
          },
          "410": {
            "description": "Webhook has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflow-requests/{id}/listen": {
      "get": {
        "summary": "Listen to Workflow Execution (SSE)",
        "description": "Streams real-time execution updates via Server-Sent Events as the workflow runs. First sends all existing node executions, then streams updates in real-time via Redis PubSub.",
        "operationId": "listenWorkflowExecution",
        "tags": ["Workflow Requests"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow request ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of execution events. Each event contains a workflow_request and/or node_execution update. Keepalive messages sent every 3 seconds. Connection times out after 30 minutes.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workflow_request": {
                      "$ref": "#/components/schemas/WorkflowRequest"
                    },
                    "node_execution": {
                      "$ref": "#/components/schemas/NodeExecution"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflow-requests/{id}/execution-tree": {
      "get": {
        "summary": "Get Workflow Execution Tree",
        "description": "Retrieves the complete execution tree showing all nodes, their status, inputs, outputs, and child agent executions. Max recursion depth: 10.",
        "operationId": "getExecutionTree",
        "tags": ["Workflow Requests"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow request ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution tree retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "execution_tree": {
                      "$ref": "#/components/schemas/ExecutionTree"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflow-requests/{id}/history": {
      "get": {
        "summary": "Get Workflow Request History",
        "description": "Retrieves cursor-based paginated execution history for a workflow.",
        "operationId": "getWorkflowHistory",
        "tags": ["Workflow Requests"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow request ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 10, max: 100)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination (UUID of last item from previous page)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search string to filter results",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WorkflowRequest"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer"
                        },
                        "next_cursor": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": true,
                          "description": "Cursor for next page. Null if no more results."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflow-requests/{id}/stop": {
      "post": {
        "summary": "Stop Workflow Execution",
        "description": "Stops a running workflow execution.",
        "operationId": "stopWorkflow",
        "tags": ["Workflow Requests"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workflow request ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow stopped successfully"
          }
        }
      }
    },
    "/chats/{resourceType}/{resourceId}": {
      "get": {
        "summary": "List Chats for Resource",
        "description": "Lists all chat sessions for a specific resource (workflow, agent, etc.).",
        "operationId": "listChats",
        "tags": ["Chats"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "resourceType",
            "in": "path",
            "required": true,
            "description": "Resource type",
            "schema": {
              "type": "string",
              "enum": ["api", "workflow", "agent", "gui"]
            }
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "description": "Resource ID (e.g., workflow ID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chats retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chats": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Chat"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chats": {
      "post": {
        "summary": "Create Chat",
        "description": "Creates a new chat session for a workflow or other resource. The chat ID is required when running workflows via the API.",
        "operationId": "createChat",
        "tags": ["Chats"],
        "security": [{"bearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "resource_type", "resource_id"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the chat session"
                  },
                  "resource_type": {
                    "type": "string",
                    "enum": ["api"],
                    "description": "Type of resource this chat is associated with"
                  },
                  "resource_id": {
                    "type": "string",
                    "description": "ID of the resource (workflow ID, agent ID, etc.)"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional metadata for the chat"
                  }
                }
              },
              "example": {
                "name": "Support Chat",
                "resource_type": "api",
                "resource_id": "0199e001-a23b-7c8d-1234-567890abcdef"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chat created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          }
        }
      }
    },
    "/chats/{id}": {
      "get": {
        "summary": "Get Chat",
        "description": "Retrieves a chat session by ID. Users can only access their own chats.",
        "operationId": "getChat",
        "tags": ["Chats"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Chat ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Chat"
                }
              }
            }
          },
          "404": {
            "description": "Chat not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Chat",
        "description": "Deletes a chat session by ID.",
        "operationId": "deleteChat",
        "tags": ["Chats"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Chat ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Chat deleted successfully (empty body)"
          },
          "404": {
            "description": "Chat not found"
          }
        }
      }
    },
    "/chat-history/{chatId}/paginated": {
      "get": {
        "summary": "Get Chat History",
        "description": "Retrieves paginated chat message history. Returns a bare JSON array of messages, newest first.",
        "operationId": "getChatHistory",
        "tags": ["Chats"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "description": "Chat ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Messages per page (default: 50, max: 200)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "RFC3339 timestamp cursor for backward pagination. Omit to get latest messages.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat messages retrieved successfully (bare JSON array)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChatMessage"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat-history/{chatId}": {
      "delete": {
        "summary": "Delete Chat History",
        "description": "Deletes all message history for a chat session. The chat session itself is preserved.",
        "operationId": "deleteChatHistory",
        "tags": ["Chats"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "description": "Chat ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat history deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chat-internal-messages/{chatId}/listen": {
      "get": {
        "summary": "Listen to Chat Messages (SSE)",
        "description": "Streams real-time chat updates via Server-Sent Events. Subscribes to the chat's Redis channel and streams workflow request updates and node execution events for the chat session. Keepalive every 3 seconds, 30-minute timeout.",
        "operationId": "listenChatMessages",
        "tags": ["Chats"],
        "security": [{"bearerAuth": []}],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "description": "Chat ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of chat events. Includes workflow request status updates and node execution events for the chat session.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Workflow": {
        "type": "object",
        "description": "Represents a user's workflow",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "latest_version": {
            "$ref": "#/components/schemas/WorkflowVersion"
          },
          "is_public": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "user_id", "created_at", "updated_at"]
      },
      "WorkflowVersion": {
        "type": "object",
        "description": "Represents a specific version of a workflow",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workflow_id": {
            "type": "string",
            "format": "uuid"
          },
          "version_number": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "status": {
            "type": "string",
            "enum": ["draft", "published", "archived"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "workflow_id", "version_number", "name", "status"]
      },
      "WorkflowFull": {
        "type": "object",
        "description": "Complete workflow with version, nodes, and edges",
        "properties": {
          "workflow": {
            "$ref": "#/components/schemas/Workflow"
          },
          "workflow_version": {
            "$ref": "#/components/schemas/WorkflowVersion"
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Node"
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Edge"
            }
          }
        },
        "required": ["workflow", "workflow_version", "nodes", "edges"]
      },
      "Node": {
        "type": "object",
        "description": "Represents a node in a workflow",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workflow_version_id": {
            "type": "string",
            "format": "uuid"
          },
          "node_type": {
            "type": "string",
            "enum": ["start", "end", "agent", "tool", "switch", "merge", "stop", "template", "add_memory", "delete_memory", "get_memory_data"]
          },
          "label": {
            "type": "string"
          },
          "pos_x": {
            "type": "number"
          },
          "pos_y": {
            "type": "number"
          },
          "parent_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "extent": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Node-specific configuration data"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "workflow_version_id", "node_type", "label"]
      },
      "Edge": {
        "type": "object",
        "description": "Represents an edge (connection) between nodes",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workflow_version_id": {
            "type": "string",
            "format": "uuid"
          },
          "source": {
            "type": "string",
            "format": "uuid",
            "description": "Source node ID"
          },
          "target": {
            "type": "string",
            "format": "uuid",
            "description": "Target node ID"
          },
          "edge_type": {
            "type": "string",
            "enum": ["condition", "parallel", "tool", "error"]
          },
          "source_handle": {
            "type": "string",
            "nullable": true
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "workflow_version_id", "source", "target", "edge_type"]
      },
      "Pagination": {
        "type": "object",
        "description": "Cursor-based pagination info",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "next_cursor": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Cursor for next page. Null if no more results."
          }
        }
      },
      "WorkflowRequest": {
        "type": "object",
        "description": "Represents a workflow execution request",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique workflow request identifier"
          },
          "workflow_version_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the workflow version being executed"
          },
          "start_node_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the Start node execution began at"
          },
          "user_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the user who owns the workflow"
          },
          "billing_user_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of the user being billed for this execution"
          },
          "parent_node_execution_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of parent node execution (for child agent invocations)"
          },
          "parent_workflow_request_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of parent workflow request (same as id for root requests)"
          },
          "chat_id": {
            "type": "string",
            "nullable": true,
            "description": "Chat session ID associated with this execution"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "waiting", "completed", "failed", "stopped"],
            "description": "Current execution status"
          },
          "payload": {
            "type": "object",
            "additionalProperties": true,
            "description": "Input payload passed to the Start node"
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Additional metadata"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When execution started"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When execution completed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the request was created"
          }
        },
        "required": ["id", "workflow_version_id", "start_node_id", "status", "created_at"]
      },
      "NodeExecution": {
        "type": "object",
        "description": "Represents the execution state of a single node",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workflow_request_id": {
            "type": "string",
            "format": "uuid"
          },
          "node_id": {
            "type": "string",
            "format": "uuid"
          },
          "workflow_version_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "completed", "failed", "blocked", "skipped", "stopped", "waiting"]
          },
          "input_data": {
            "type": "object",
            "nullable": true
          },
          "output_data": {
            "type": "object",
            "nullable": true
          },
          "attempt_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "failed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ExecutionTree": {
        "type": "object",
        "properties": {
          "workflow_request_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "waiting", "completed", "failed", "stopped"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionNode"
            }
          }
        }
      },
      "ExecutionNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "node_id": {
            "type": "string",
            "format": "uuid"
          },
          "node_label": {
            "type": "string"
          },
          "node_type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "completed", "failed", "blocked", "skipped", "stopped", "waiting"]
          },
          "input_data": {
            "type": "object",
            "nullable": true
          },
          "output_data": {
            "type": "object",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "failed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "attempt_count": {
            "type": "integer"
          },
          "child_executions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChildExecution"
            }
          },
          "total_children": {
            "type": "integer"
          },
          "has_more_children": {
            "type": "boolean"
          }
        }
      },
      "ChildExecution": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "workflow_request_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "target_node_label": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionNode"
            }
          }
        }
      },
      "Chat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "user_id": {
            "type": "string",
            "format": "uuid"
          },
          "resource_type": {
            "type": "string",
            "enum": ["api", "workflow", "agent", "gui"]
          },
          "resource_id": {
            "type": "string"
          },
          "is_public": {
            "type": "boolean"
          },
          "public_share_token": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "description": "A single message in a chat history",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "chat_id": {
            "type": "string",
            "format": "uuid"
          },
          "role": {
            "type": "string",
            "enum": ["user", "assistant", "system", "tool"]
          },
          "parent_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "status": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessageContent"
            }
          },
          "files": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/WorkflowRequestFile"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["id", "chat_id", "role", "content"]
      },
      "ChatMessageContent": {
        "type": "object",
        "description": "A single content block within a chat message",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text", "tool-call", "tool-result", "source", "credential-request"],
            "description": "Content block type"
          },
          "text": {
            "type": "string",
            "description": "Text content"
          },
          "toolCallId": {
            "type": "string",
            "description": "Tool call identifier"
          },
          "toolName": {
            "type": "string",
            "description": "Name of the tool being called"
          },
          "args": {
            "type": "object",
            "additionalProperties": true,
            "description": "Tool call arguments"
          },
          "result": {
            "description": "Tool execution result"
          },
          "reasoning": {
            "type": "string",
            "description": "Model reasoning text"
          }
        },
        "required": ["type"]
      },
      "WorkflowRequestFile": {
        "type": "object",
        "description": "File attached to a workflow request",
        "properties": {
          "content_type": {
            "type": "string",
            "description": "MIME type of the file"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to access the file"
          },
          "file_name": {
            "type": "string",
            "description": "Original file name"
          },
          "file_size": {
            "type": "integer",
            "format": "int64",
            "description": "File size in bytes"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional file metadata"
          }
        },
        "required": ["url"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token generated from your Splox account settings. Create tokens at https://app.splox.io/account?tab=settings"
      }
    }
  },
  "tags": [
    {
      "name": "Workflows",
      "description": "List, get, and inspect workflows, versions, and nodes"
    },
    {
      "name": "Workflow Requests",
      "description": "Run workflows, monitor execution, and retrieve results"
    },
    {
      "name": "Events",
      "description": "Receive external events via Event Hub webhooks"
    },
    {
      "name": "Chats",
      "description": "Manage chat sessions for workflow interactions"
    }
  ]
}